@model IEnumerable<Models.Player>
@{
  ViewData["Title"] = "Players List";

}

<div>
  <h2>Players List</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Player ID</th>
        <th>Full Name</th>
        <th>Height</th>
        <th>Positions</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var player in Model)
      {
        <tr>
          <td>@player.PlayerID</td>
          <td>@player.FullName</td>
          <td>@(player.Height + "cm")</td>
          <td>@player.Positions</td>
          <td>
            <a asp-controller="Player" asp-action="Edit" asp-route-id="@player.PlayerID" class="btn btn-primary">Edit</a>
          </td>
          <td>
            <a asp-action='Delete' asp-route-id="@player.PlayerID">Delete</a>
          </td>
        </tr>
      }
    </tbody>
  </table>
  <form asp-controller="Player" asp-action="Add" method="get">
    <button type="submit" class="btn btn-primary">Add new player</button>
  </form>

  @{
    // Page Controls
    if (ViewBag.CurrentPage > 1)
    {
      <a asp-action="Index" asp-route-pageNumber="@(ViewBag.CurrentPage - 1)">Previous</a>
    }

    if (ViewBag.CurrentPage < ViewBag.TotalPages)
    {
      <a asp-action="Index" asp-route-pageNumber="@(ViewBag.CurrentPage + 1)">Next</a>
    }
  }
</div>